.nav{
    margin-top: 15px;
    border-radius: 4px;
}
.home-container{
    display: grid;
    background-color: whitesmoke;
    grid-template-columns: 2fr 1fr;
    margin-left: 100px;
    border-radius: 10px;
    
}
.activity-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.heading{
    margin-top: 1px;
    
}
.heading-text{
    font-size: 20px;
    font-weight: 800;
    color: rgb(224, 4, 4);
}
.logo-img{
    width: 45px;
}
.learning-text{
    font-size: 1.3rem;
    color: rgb(224, 20, 20);
}
.right-side{
    width: 100%;
    box-shadow: skyblue 0px 8px 24px;
}
.blog{
    margin-left: 50px;
    margin-right: 50px;
}
@media only screen and (max-width: 700px) {
    .home-container{
        grid-template-columns: repeat(1,1fr);
       margin-left:5px ;
       margin-right: 5px;
        
    }
    .activity-container{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
}
